@charset "utf-8";

/********************************************
SUB JOIN
********************************************/
.subcontainer {
	background-color:#fafafa;
}

/* SUB HEAD */
.subhead {
	overflow:hidden;
}
.subhead .tit {
	display:block;
	margin:92px auto 40px;
	font-weight:bold;
	font-weight:700;
	font-size:27px;
	color:#333;
	line-height:1;
	text-align:center;
	vertical-align:top;
}
.subhead .txt {
	display:block;
	margin:0 auto 40px;
	font-size:17px;
	color:#333;
	line-height:1;
	text-align:center;
	vertical-align:top;
}

/* SUB CONTENT */
.subcont {
	position:relative;
	width:620px;
	margin:0 auto;
	padding-bottom:120px;
}

/* 회원가입 폼 */
.join__form {
	padding:0 20px;
}
.join__form:after {
    display:block;
    clear:both;
    content:'';
}
.row {
	overflow:hidden;
	clear:both;
	width:100%;
}
.row--chk {
	margin-bottom:50px;
}
.row .th {
	float:left;
	width:90px;
	height: 45px;
	margin-top:19px;
	font-size:14px;
	color:#646464;
	line-height:45px;
	vertical-align:middle;
}
.row .td {
	float:left;
	position:relative;
	width:490px;
	height:64px;
	border-bottom:1px solid #d2d2d2;
}
.row .td .ipt--txt {
	display:block;
	position:relative;
	z-index:2;
	width:100%;
	height:45px;
	margin-top:19px;
	border:none;
	border-radius:0;
	font-size:14px;
	color:#aaa;
	text-indent:10px;
	background:transparent;
	outline:none;
}
.row .td .label {
	position:absolute; 
	top:19px; 
	left:10px; 
	font-size:14px; 
	line-height:45px; 
	color:#acacac;
    -webkit-transition : opacity 400ms, -webkit-transform 400ms;
    transition : opacity 400ms, transform 400ms;
}
.row .td.focused .label {
	opacity:0;
    -webkit-transform : translateX(10px);
    transform : translateX(10px);
}
.row .td.focused input {
	color:#646464;
	background-color:#efefef; 
}
/* 자동입력 시, 배경색 */
.row .td .ipt--txt:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* 체크박스 CUSTOM */
.chkbox {
	margin:0 0 22px;
}
.chkbox span {
	display:block;
	overflow:hidden; 
	padding-left:28px; 
	height:20px; 
	background:url(/p_car/assets/img/pc_sprite_chk.png) no-repeat; 
	cursor:pointer; 
}
.chkbox .unchk {
	background-position:0 0;
}
.chkbox .chk {
	background-position:0 -20px;
}
.chkbox span label { 
	font-size:15px; 
	line-height:22px;
	vertical-align:middle;
	color:#646464;
	cursor:pointer;
}
.chkbox .unchk input, 
.chkbox .chk input {
	-webkit-appearance:none; 
	-moz-appearance:none; 
	-ms-appearance:none; 
	appearance:none;
	position:absolute;
	border:0; 
	height:1px; 
	width:1px; 
	opacity:0;
}
/* 전체동의 */
.chkbox.allagree {
	clear:both;
	width:100%;
	margin:25px 0 25px;
	padding:25px 0;
	border-bottom:1px solid #d2d2d2;
}
.chkbox.allagree span label {
	font-weight:bold;
	font-weight:700; 
}

/* 이용약관 등 TEXTAREA */
.terms {
	display:block;
	border-top:3px solid #646464;
}
.terms .tit {
	display:block;
	padding:10px 0 25px;
	font-weight:bold;
	font-weight:700;
	font-size:15px;
	color:#646464;
	line-height:1;
	vertical-align:top;
}
.terms__box {
	overflow:hidden; 
	overflow-y:auto; 
	width:100%; 
	height:175px;
	margin-bottom:60px; 
	border:1px solid #d2d2d2; 
	background-color:#fff;
	box-sizing:border-box;
}
/* Styles specific to this particular page */
.scroll-pane {
	width: 100%;
	height: 175px;
	overflow-y: auto;
}
.horizontal-only {
	height: auto;
	max-height: 175px;
}
.terms__box .jspPane * {
	font-size:13px; 
	color:#646464; 
	line-height:28px; 
	letter-spacing:-1px; 
	word-break:keep-all;
}
.terms__box .jspPane div {
	margin:20px 25px 30px;
}
.terms__box .jspPane div:last-child {
	margin-bottom:0;
}
.terms__box .jspPane h2 {
	margin-bottom:20px;
}
.terms__box .jspPane h3 {
	margin-bottom:15px;
}
.terms__box .jspPane p {
	margin-bottom:5px;
}
.terms__box .jspPane span {
	display:block; 
	padding-left:20px; 
	padding-bottom:5px;
}

.btn--submit {
	width:300px;
	height:74px;
	margin:0 auto;
	background-position:0 -400px;
}

/********************************************
MODAL
********************************************/
.modalwrap {
	display:none;
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:100;
}
.modalwrap .dimm {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.7);
}
.modalwrap .modal {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	z-index:10110;
	width:420px;
	background-color:#fff;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
.modalwrap .modalcont {
	text-align:center;
}
.modalwrap .modalcont .icon {
	margin:50px auto 40px; 
}
.modalwrap .modalcont .txt {
	display:block;
	margin-bottom:50px;
	font-size:17px;
	color:#646464;
	line-height:1;
	vertical-align:top;
}
.modalwrap .btn--modalclose {
	display:block;
	width:100%;
	height:74px;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background-position:0 -500px;
}

/********************************************
SUB JOIN COMPLETE
********************************************/
.joincomplete {
	overflow:hidden;
}
.joincomplete .welcome {
	display:block;
	width:372px;
	height:297px;
	margin:170px auto 50px;
}
.joincomplete .btn--home {
	width:300px;
	height:74px;
	margin:0 auto 60px;
	background-position:0 -600px;
}  